{% extends 'base.html.twig' %}

{% block title %}Hello ReactController!{% endblock %}

{% block body %}

{# <h2 {{ react_component('Hello', {"fullName": "Quentin"}) }}></h2> #}

<div id="map" {{ react_component('LeafletMap') }}></div>
{% endblock %}
