{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block metadesc %}Log into your account{% endblock %}

{% block pageWrapper %}login{% endblock %}

{% block body %}
<div id="root"></div>
{% endblock %}
