{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}
{% block metadesc %}Register an account{% endblock %}

{% block pageWrapper %}register{% endblock %}

{% block body %}
<div id="root"></div>
{% endblock %}
