{% extends 'base.html.twig' %}

{% block title %}Map{% endblock %}
{% block metadesc %}Map{% endblock %}
{% block pageWrapper %}map{% endblock %}
{% block body %}

<div id="leafletMap" {{ react_component('App') }}></div>

{% endblock %}

