{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}
{% block metadesc %}Equipment page containing all equipment present on the site{% endblock %}

{% block pageWrapper %}equip{% endblock %}

{% block body %}
<button>New item</button>
    <label class="form-control">
    <input type="radio" name="radio" />
    Radio
    </label>

    <label class="form-control">
    <input type="radio" name="radio" />
    Radio - checked
    </label>
    </aside>
<div class="equip-categories">
    <button>weap</button>
    <button>armor</button>
    <button>tool</button>
</div>

<section id="equip-inventory-container">
    <h1>Weapons</h1>

    <article class="equip-inventory">

        {% for equipment in equipments %}
            <figure>
                <img src="{{ asset('img/upload/' ~ equipment.ImgObjects[0]) }}" alt="{{ equipment.ImgObjects[0] }}">
                <figcaption>
                    <strong>{{ equipment.name }}</strong>
                </figcaption>
            </figure>
        {% endfor %}

    </article>

    <aside>

</section>


{% endblock %}
