{% extends 'base.html.twig' %}

{% block title %}Equipment{% endblock %}
{% block metadesc %}Equipment page containing all equipment present on the site{% endblock %}

{% block pageWrapper %}equip{% endblock %}

{% block body %}
<h1>Inventory</h1>
{% endblock %}
