:root {

}
/*******************************************************************************************************/
/*********************************************** General ***********************************************/
/*******************************************************************************************************/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/***************************************************************************************************/
/*********************************************** Map ***********************************************/
/***************************************************************************************************/
.map {
    height: 100svh;
    width: 100%; 
}