:root {
    --primary-color: #1D87C3;
    --secondary-color: #04948B;
    
    --background-gray: #575D69;
    --background-gray-dark: #282A2E;
    --background-gray-light: #A8A8A8;
    --background-gray-lighter: #D9D9D9;
    
    --font-color-light:#fff;
    --font-color-dark: #2C2C2C;
    
    --linear-gradient-dark: linear-gradient(#2D2F33 ,#202124 );
    --form-control-color: rebeccapurple;
    
}
/*******************************************************************************************************/
/*********************************************** General ***********************************************/
/*******************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: line;
}

body {
    
}

#bodyWrapper {
    position: relative;
}

#mainWrapper {
    padding: 0 8%;
}

/******************************************************************************************************/
/*********************************************** Navbar ***********************************************/
/******************************************************************************************************/
header {
    width: 100%;
    height: 60px;
    z-index: 650;

    outline: 2px solid var(--primary-color);


    position: initial;
}

.wrap-map header {
    position: absolute;
}

header nav {
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--background-gray-dark);
}

.nav-items {
    height: 2.5rem;

    border: 3px solid var(--primary-color);
    background-color: var(--background-gray);

    border-radius: 20px;
}

.nav-items a {
    height: 100%;
    padding: 0 10px;

    font-size: 18px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--font-color-light);
    text-decoration: none;
}

.nav-items a svg {
    width: 1.2em;
    margin-right: 5px;
    fill: var(--primary-color);
}

/***************************************************************************************************/
/*********************************************** Map ***********************************************/
/***************************************************************************************************/
.wrap-map #mainWrapper {
    padding: 0;
}

#leafletMap {
    position: relative;
}

.map {
    min-height: 100svh;
    max-height: 100lvh;
    width: 100%;
}

/*********************************************************************************/
/************************************* Modal *************************************/
/*********************************************************************************/
/* Modal <dialog> container */
#myDialog { 
    position: relative;
    width: 80vw;
    height: 50vh;
    padding: 2rem;
    /* transform: translate(-50% -50%); */

    margin: 10%;
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.25rem hsl(0 0% 0% / 10%);
}

.modal-close-btn {
    font-size: .75em;
    position: absolute;
    top: .25em;
    right: .25em;
}

/* the background when the modal open */
.modal::backdrop { 
    background: hsl(0 0% 0% / 50%);
}

button { /* close btn */
    padding: 0.5em;
    font: inherit;
    line-height: 1;
    cursor: pointer;
}

/************************************************************************************/
/************************************* Timeline *************************************/
/************************************************************************************/
#timeline {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    transform: translateX(50%);

    position: absolute;
    right: 50%;
    bottom: 0;

    z-index: 999;

    background-color: var(--background-gray);
    padding: 10px 0 ;
}

#timeline div {
    display: flex;
    flex-direction: column;
}

#timeline div {
    font-size: 25px;
}

#timeline div input[type="radio"] {
    appearance: none;
    
    width: 16px;
    height: 16px;

    border-radius: 50%;

    border: 2px solid black;
    transition: 0.3s all linear;
}

#timeline div input[type="radio"]:checked {
    background-color: var(--secondary-color);

    border: 6px solid black;
}

/*********************************************************************************************************/
/*********************************************** Equipment ***********************************************/
/*********************************************************************************************************/
.wrap-equip {
    min-height: 100svh;
    max-height: 100lvh;

    background: var(--linear-gradient-dark);
}

#equip-inventory-container figure {
    width: 150px;
}

.equip-inventory {
    display: flex;
}

.equip-inventory figure img{
    width: 100%;
    border-radius: 15px;
}








  