{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}equip{% endblock %}

{% block body %}

<h2 class="primary-title">Welcome {{ app.user }}!</h1>

{% endblock %}
