{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}
{% block metadesc %}Forum HomePage{% endblock %}

{% block pageWrapper %}forum{% endblock %}

{% block body %}

<section class="table-popular">
    <div>
        {% for topic in topics %}
        <div class="details-topic-info" 
        {{ react_component('components/forum/TopicTag', {category: ''~ topic.showCategory, author: ''~ topic.author.username }) }}
        >
        {% endfor %}
    </div>
  
    {% for topic in topics %}
    <a href="{{ path('show_topic', {id:topic.id }) }}">
        <strong>{{ topic.title }}</strong>
    </a>
    {% endfor %}

    

</section>

    
{% endblock %}
